
@{
    ViewBag.Title = "OperasBas";
 
}

<h2>OperasBas</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label>Numero 1</label>
                <input type="text" name="n1" value="" />
                <br />
                <label>Numero 2</label>
                <input type="text" name="n2" value="" />
                <br />
                <input type="submit" name="name" value="Calcular" />
                <group>

                </group>
                <label>Suma</label>
                <input type="radio" name="opc" value="suma" />
                <label>Resta</label>
                <input type="radio" name="opc" value="resta" />
                <label>Multiplicacion</label>
                <input type="radio" name="opc" value="multi" />
                <label>Division</label>
                <input type="radio" name="opc" value="div" />
            </form>
        </div>
        <div class="col-lg-6">
            <h1>La suma es:@ViewBag.Res</h1>
        </div>
    </div>
</div>

